body {
	background-color: white;
	margin: 0;
}
.b-body {
	width: 200px;
	height: 400px;
	background-color: black;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 75px;
	border-bottom-right-radius: 75px;
	position: absolute;
	top: 50px;
	left: 100px;
}
.b-right-eye {
	width: 30px;
	height: 30px;
	background-color: red;
  border-left: 50px solid transparent;
     border-right: 50px solid transparent;
     border-bottom: 100px solid red;
     position: absolute;
	top: 130px;
	left: 150px;
}
.b-left-eye {
	width: 30px;
	height: 30px;
	background-color: red;
 border-left: 50px solid transparent;
     border-right: 50px solid transparent;
     border-bottom: 100px solid red;
     position: absolute;	
     position: absolute;
	top: 130px;
	left: 230px;
}
.b-mouth {
	width: 100px;
	height: 50px;
	background-color: red;
	border-radius: 100%;
	position: absolute;
	top: 200px;
	left: 150px;
}

.b-body-alt {
	width: 200px;
	height: 400px;
	background-color: black;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 75px;
	border-bottom-right-radius: 75px;
	position: absolute;
	top: 50px;
	left: calc((100vw - 200px) / 2);
	animation-duration: 10s;
  animation-name: up-down;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes up-down {
  0% {
    top: 50px;
    left: calc((100vw - 200px) / 2);
  }
  50% {
  	top: 25px;
    left: 0;
  }
  100% {
    top: 75px;
    left: calc(100vw - 200px)
  }
}

.b-right-eye-alt {
	    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid red;
    position: absolute;
    top: 90px;
    left: 40px;
}
.b-left-eye-alt {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid red;
    position: absolute;
    top: 90px;
    left: 114px;
}
}
.b-mouth-alt {
   width: 0;
    height: 0;
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
   border-top: 50px solid yellow;
	position: absolute;
	top: 185px;
	left: 86px;
}
.b-left-wing-alt {
	   width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid black;
      position: absolute;
      top:75px;
      left: 178px;

}
.b-left-wing-2-alt {
	   width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid black;
      position: absolute;
      top:75px;
      left: 272px;

}

.b-right-wing-alt{
       width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid black;
      position: absolute;
      top:75px;
      left: -84px;
  }
  .b-right-wing-2-alt{
       width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid black;
      position: absolute;
      top:75px;
      left: -177px;
  }